.header-img{
    position:relative; 
    min-width:100%;
    img{
        width:100%; 
    }

    p{
        z-index:99; 
        position: absolute;
        top: 50%;  
        left:0;
        right:0; 
        text-align:center; 
        color:white; 
        font-size:5rem; 
        font-family:@nav-font; 
        font-weight:bold; 
    }
}
