@import "variables";
@import "mixins";

.mainpara{
    display: flex;
    flex-flow: column wrap;
    text-align: center;
    h2,h3,h4, h5, h6{
    .maintext();
    }

}
.mainform{
    display: flex;
    flex-wrap: wrap;
    
.main {
    h3 {
    .maintext2();
    }//closes h3 main
.maincosts {
   display: flex; 
   flex-flow: column wrap;
    }//closes maincosts
} //closes main


.main2 {
    h3 {
    .maintext2();
    }//closes h3 main
.maincosts2 {
   display: flex; 
   flex-flow: column wrap;
    }//closes maincosts
} //closes main
}//closes mainpage

button {
    display: flex;
    align-items: center;
}