.maintext {
  font-family: 'roboto', sans-serif;
  font-weight: normal;
  word-spacing: .2rem;
  letter-spacing: 2px;
}
.maintext2 {
  font-family: 'roboto', sans-serif;
  font-weight: 500;
  word-spacing: .2rem;
}
.merriweather {
  font-family: 'Merriweather', serif;
  letter-spacing: 1.52px;
  font-size: .8rem;
}
.mainpara {
  display: flex;
  flex-flow: column wrap;
  text-align: center;
}
.mainpara .rectangles {
  display: flex;
  justify-content: center;
}
.mainpara .rectangles .rectangle1 {
  height: 33px;
  width: 485.56px;
  background-color: #D57962;
}
.mainpara .rectangle2 {
  height: 33px;
  width: 345.19px;
  background-color: #E69D9B;
}
.mainpara .rectangle3 {
  height: 33px;
  width: 269.25px;
  background-color: #90C9CA;
}
h2,
h3,
h4,
h5,
h6 {
  font-family: 'roboto', sans-serif;
  font-weight: normal;
  word-spacing: .2rem;
  letter-spacing: 2px;
}
.mainform {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
}
.mainform .main {
  margin-right: 10%;
}
.mainform .main h3 {
  width: 150%;
  font-family: 'roboto', sans-serif;
  font-weight: 500;
  word-spacing: .2rem;
  color: #4A4E53;
}
.mainform .main h5 {
  font-family: 'roboto', sans-serif;
  font-weight: normal;
  word-spacing: .2rem;
  letter-spacing: 2px;
  font-weight: lighter;
  color: #4A4E53;
}
.mainform .main .maincosts {
  display: flex;
  flex-flow: column;
  margin-bottom: 3%;
  font-family: 'Merriweather', serif;
  letter-spacing: 1.52px;
  font-size: .8rem;
}
.mainform .main .maincosts .textbox {
  margin-bottom: 3%;
  background-color: #fafafa;
  border-radius: 2px;
  border: 1px solid #979797;
  box-sizing: border-box;
  width: 15.6rem;
  height: 2rem;
}
.mainform .main2 {
  width: 150%;
  margin-right: 5%;
  width: 18.47%;
  height: 1.91%;
}
.mainform .main2 h3 {
  font-family: 'roboto', sans-serif;
  font-weight: 500;
  word-spacing: .2rem;
  width: 200%;
}
.mainform .main2 h5 {
  font-family: 'roboto', sans-serif;
  font-weight: normal;
  word-spacing: .2rem;
  letter-spacing: 2px;
  font-weight: lighter;
}
.mainform .main2 .maincosts2 {
  display: flex;
  flex-flow: column;
  margin-bottom: 3%;
  font-family: 'Merriweather', serif;
  letter-spacing: 1.52px;
  font-size: .8rem;
}
.mainform .main2 .maincosts2 .textbox {
  margin-bottom: 3%;
  background-color: #fafafa;
  border-radius: 2px;
  border: 1px solid #979797;
  width: 15.6rem;
  height: 2rem;
  box-sizing: border-box;
}
button {
  margin-left: 35%;
  box-sizing: border-box;
  height: 70px;
  width: 419px;
  border: 2px solid #96D3CD;
  border-radius: 32px;
  background-color: #96D3CD;
  font-family: 'roboto', sans-serif;
  font-weight: normal;
  word-spacing: .2rem;
  letter-spacing: 2px;
  font-size: 21px;
  color: #000000;
  font-weight: bold;
}
button:hover {
  margin-left: 35%;
  box-sizing: border-box;
  height: 70px;
  width: 419px;
  border: 2px solid #96D3CD;
  border-radius: 32px;
  background-color: #FFFFFF;
  font-family: 'roboto', sans-serif;
  font-weight: normal;
  word-spacing: .2rem;
  letter-spacing: 2px;
  font-size: 21px;
  color: #96D3CD;
  font-weight: bold;
}
